<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feed</title>
</head>

<body>
  <h1>hello world</h1>
  <a href="/register">register</a><br>
  <a href="/login">login</a>
  <pre>
    <%= data %> 
  </pre>
</body>

</html>