<%- include('components/head.ejs', {page: 'log in', cssSource: './css/login.css'}); %>

<body>
  <div class="container">
    <% if(errors != "") { %>
    <% errors.forEach((item) => { %>
    <div class="alert alert-danger">
      <%- item %>
    </div>
    <% }); %>
    <% } %>
    <form action="/login" method="post">
      <div class="con">
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="con">
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="con">
        <button type="submit">log in</button>
      </div>
      <a href="/register">register</a>
    </form>

  </div>
</body>

</html>