<%- include('components/head.ejs', {page: 'register', cssSource: './css/register.css'}); %>

<body>
  <div class="form-container">
    <% if(exist) { %>
    <div class="alert">
      email already exist
    </div>
    <% } %>
    <form action="/register" method="post">
      <div class="con">
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="con">
        <input type="email" name="email" placeholder="Email">
      </div>
      <div class="con">
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="con">
        <button type="submit">register</button>
      </div>
      <a href="/login">log in</a>
    </form>

  </div>
</body>

</html>