<%- include('components/head.ejs', {page: 'settings', cssSource: '../../css/settings.css'}); %>

<body>

  <%- include('components/header.ejs', {isLoggedIn: true, myId}); %>

  <div class="write-container">
    <div class="box">
      <h1>settings</h1>
      <div class="more">
        <div class="title">
          <p class="active">name</p>
          <p>password</p>
          <p>account</p>
        </div>
        <div class="info-box">
          <div class="box-con name active">
            <form name="update-name">
              <div class="row">
                <input type="text" name="name" placeholder="name">
              </div>
              <div class="row">
                <input type="password" name="password" placeholder="password">
              </div>
              <div class="row">
                <button class="btn-primary" id="update-name">submit</button>
              </div>
            </form>
          </div>
          <div class="box-con password">
            <form name="update-password">
              <div class="row">
                <input type="password" name="old_password" placeholder="current password">
              </div>
              <div class="row">
                <input type="password" name="new_password" placeholder="new password">
              </div>
              <div class="row">
                <button class="btn-primary" id="update-password">submit</button>
              </div>
            </form>
          </div>
          <div class="box-con account">
            <form name="delete-account" method="post" action="/delete-account">
              <div class="row">
                <input type="password" name="password" placeholder="password">
              </div>
              <div class="row">
                <button class="btn-primary" id="delete-account">delete account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</body>

</html>