<%- include('components/head.ejs', {page: 'write', cssSource: './css/write.css'}); %>

<body>

  <%- include('components/header.ejs', {isLoggedIn: true}); %>

  <div class="write-container">
    <div class="box">
      <form action="/write" method="POST">
        <div class="col">
          <input type="text" name="title" placeholder="title" required>
        </div>
        <div class="col">
          <textarea name="body" placeholder="what's on your mind, <%= name %>?" required></textarea>
        </div>
        <div class="col">
          <button type="submit">publish</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>