<h1>write</h1>
<h4><%= id %> </h4>
<a href="/">home</a>

<form action="/write" method="POST">
  <div class="col">
    <label for="title">title</label>
    <input type="text" name="title">
  </div>
  <div class="col">
    <label for="text">text</label>
    <textarea name="body" cols="30" rows="10"></textarea>
  </div>
  <div class="col">
    <button type="submit">publish</button>
  </div>

</form>