/* Start Global rules */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "cairo", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*medium*/

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*extra large*/

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

/* end Global rules */

body{
    height: 100vh;
    width: 100vw;
    background-image: url("../imgs/simon-daniel-fy6Gr1goL60-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.write-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.write-container .box{
    background-color: rgba(50, 50, 50, 0.85);
    padding: 30px 20px;
    max-width: 650px;
    min-width: 320px;
    color: white;
}

.box .body{
    color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.box .info .nd .name{
    margin: 0;
    margin-bottom: 8px;
}

.box .info .nd .name a{
    position: relative;
    margin: 0;
    color: #eee;
}

.box .info .nd .name a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px ;
    left: 0;
    bottom: -5px;
    background-color: #eee;
}

.box .info .nd .name a i{
    transition: .3s;
    margin-left: 8px;
}

.box .info .nd .name:hover a i{
    margin-left: 20px;
}

.box .info .nd p{
    margin: 0;
    margin-top: 15px;
    color: #ddd;
}

.like{
    margin-left: 25px;
}

.like i {
    cursor: pointer;
    font-size: 18px;
}